.decoracao{
    margin-top: 120px;
    background-color: #1d2f6f;
    width: 65%;
    height: 44px;
    border-top-right-radius: 30px;
    border-bottom-right-radius:30px;
}
h1{
    margin-left: 600px;
    color: #FF914D;
    border-radius: 30px;
    background-position-x: left;
}
h2 {
    color: #1d2f6f;
    margin: 25px;
    margin-left: 275px;
}
.entregando{
    text-align: justify;
    justify-content: center;
    justify-self: center;
    width: 1000px;
    height: 280px;
    background-color: #d1e0eb;
    border-radius: 30px;
    display: flex;
}
.entregando div{
    width: 50%;
}
.entregando .infos{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    h3{
        color: #1d2f6f;
    }
    & .perfil-entregador{
        align-self: center;
        height: 120px;
        width: 120px;
        border: solid 4px #FF914D;
        border-radius: 100%;
    }
    .avaliacao{
        text-align: center;
        justify-content: center;
        display: flex;
        gap:10px;
        margin-top: 4px;
        margin-bottom: 4px;
        h4{
            color:#FF914D
        }
    }
    & .img-avaliacao{
        height: 26px;
        width: 26px;
    }
}
.infos-previsao{
    h4{
        color: #FF914D;
    }
}
.entregando .mapa{
    iframe{
        width: 500px;
        height: 240px;
    }
}