/*Estilo barra de navegação*/
.navbar {
    width: 100%;
    background-color: #1d2f6f;
    color: #fefefe;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 8vh;
    box-sizing: border-box;
    position: relative;
}
.navbar img {
    height: 45px;
    padding: 4px;
    margin: 0;
}
.nav-list{
    display: flex;
    list-style-type: none;
}
.nav-list a {
    font-size: 20px;
    margin-right: 10px;
    text-decoration: none;
    color: #fefefe;
    border-radius: 32px;
    padding: 0.4rem;
    display: inline-block;
    width: auto;
    height: auto;
    border: none;
    transition: transform 1s ease, background-color 0.5s ease;
}
.nav-list a:hover {
    background-color: #FF914D;
    transform: scale(1.1);
}
.search-profile-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap:5px
}
.searchbar {
    font-family: "Poppins" sans-serif;
    background-color: #fefefe;
    font-size: 16px;
    border-radius: 30px;
    height: 20px;
    margin: 0;
    padding: 5px 15px;
    border:none
}
.searchbar:focus {
    outline: 2px solid #FF914D;
}
.lupa{
    background:url("Imagens/lupa.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 25px;
    height: 25px;
    border: 0;
    left:-40px
}
.lupa:hover{
    cursor: pointer;
}
.perfil-foto{
    background:url("Imagens/Perfil.png.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 35px;
    height: 35px;
    border: 0;
    margin-left: 15px;
}
.perfil-foto:hover{
    cursor: pointer;
}

/*Navbar para celulares*/
.mobile-menu{
    display: none;
}
.mobile-menu:hover{
    cursor: pointer;
}
.mobile-menu div{
    width: 32px;
    height: 2px;
    background-color: #fefefe;
    margin:8px;
}
@media (max-width: 999px){
    .searchbar{
        height: 3vh;
        width:30vw;
        margin-left:10px;
    }
    .perfil-foto{
        margin-left: 0;
    }
    .navbar img {
        height: 5.5vh;
    }
    .nav-list{
        position: absolute;
        top:8vh;
        left:0;
        width: 50vw;
        height: 92vh;
        background:#1d2f6f;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(-100%);
        transition: transform 0.3s ease-in;
    }
    .nav-list li{
        margin-left: 0;
        opacity: 0;
    }
    .mobile-menu{
        display:block;
    }
    .nav-list.active{
        transform: translateX(0);
    }
}