* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background: #F4F6FA;
background: linear-gradient(153deg, rgba(244, 246, 250, 1) 0%, rgba(220, 229, 247, 1) 50%, rgba(221, 215, 250, 1) 100%);
    color: #1d2f6f;
}

main {
    display: flex;
    height: 100vh;
    overflow: hidden;
}

.banner {
    width: 50%;
    background: linear-gradient(135deg, #161643, #2a2a7a);
    background-size: cover;
    background-position: center;
}

.content {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.content h1 {
    font-size: 2.5rem;
    margin-bottom: 40px;
    color: #1d2f6f;
}

.opcao {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
}

.opcao div {
    width: 220px;
    padding: 20px;
    background-color: white;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
    border: none;
    border-radius: 20px;
    transition: transform 0.3s ease, background-color 0.3s ease;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.opcao div img {
    width: 130px;
    object-fit: contain;
    margin-bottom: 10px;
    transition: all 0.3s ease;
}

.opcao div h2 {
    font-size: 1.1rem;
    font-weight: 600;
    color: #1d2f6f;
}

.opcao div:hover {
    transform: scale(1.05);
    background-color: #1d2f6f;
}

.opcao div:hover h2 {
    color: white;
}

.opcao div:hover img {
    filter: invert(1) brightness(2);
}
.opcao a{
    color:#1d2f6f;    
    font: 1em sans-serif;
    transition: all 0.5s ease;
    font-weight: bold;
}
.opcao a:hover{
    transform: scale(1.1);
    font-weight: bolder;
    color: #FF914D;
}